.wrapper {
  padding: 50px 0px;
  background: linear-gradient(135deg, #0f766e, #15b597, #148f85);
}

.title {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: #ff7f2a;
  margin-bottom: 30px;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: center;
}

/* Image */
.imageWrap {
  background: #f8fafc;
  padding: 10px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
}

.image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Timeline */
.timeline {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  margin: 0px 15px;
}

/* Vertical line */
.timeline::before {
  content: '';
  position: absolute;
  left: 26px;
  top: 10px;
  width: 2px;
  height: 90%;
  background: linear-gradient(to bottom, #0b2545, transparent);
}

/* Step */
.step {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.circle {
  width: 54px;
  height: 54px;
  background-image: linear-gradient(to top,  #ffa560, #ff7f2a);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
  line-height: 1;
  z-index: 2;
}

.content {
  padding-top: 2px;
}

.stepNo {
  font-size: 42px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1;
}

.step h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin: 6px 0;
}

.step p {
  font-size: 15px;
  color: #e1e1e1;
  line-height: 1.6;
  max-width: 360px;
}

/* Mobile */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .timeline::before {
    display: none;
  }

  .title {
    font-size: 32px;
  }
}
